@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
	display:flex;
	background: rgba(100,200,0,10);
}

img {
	max-width: 100%;
	max-height: 100%;
}

img.logo {
	width : 60%;
	height : 60%;
}

.header{
	display: flex;
    justify-content: center;
    align-items: center;
	font-size : 160%;
}
.header-2{
	display: flex;
    justify-content: center;
    align-items: center;
	font-size : 120%;
}
.header-3{
	display: flex;
    justify-content: center;
    align-items: center;
	font-size : 80%;
}

.wrapper section{
	background: #fff;
	border-radius: 10px;
	width: 96%;
	height : 96%;
	margin: 2%;
	padding: 2%;
}
.wrapper section .top{
	display: flex;
    justify-content: space-between;
}
.wrapper section .tables{
	display:flex;
	justify-content: space-between;
}
.wrapper section .Stock{
	border:solid 5px #D3D3D3;
	width:20%;
	height:40%;
}
.wrapper section .Habitants{
	border:solid 5px #D3D3D3;
	width:20%;
	height:40%;
	
}
.wrapper section .Batiments{
	border:solid 5px #D3D3D3;
	width:20%;
	height:40%;
	
}
.wrapper section .Entrepot{
	border:solid 5px #D3D3D3;
	width:20%;
	height:40%;
	
}
.wrapper section .button{
	display:grid;
	text-align:right;
	border:0;
}

.button button{
	font-size:100%;
}

.popup{
    width: 400px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 60px;
    color: #333;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #e02189;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

table { 
	width: 100%;
    table-layout: fixed;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
	text-align : center;
}
th{
	text-align : center;
}
td{
	display: table-cell;
	padding:4px;
}

.wrapper section .top a{
	text-decoration: none;
	background: #3ea0e2;
	color: #fff;
	padding: 7px 15px;
	border-radius: 5px;
	/* font-size: 17px; */
	font-weight: 400;
	transition: all 0.3s ease;
}
.wrapper section .top a:hover{
	transform: scale(0.90);
}
	
